<%= render partial: 'partials/admin_nav' %>

<br />

<center>

<%= form_for @promo_code do |f| %>
  <%= f.select :discount_rate, [['30%', '30%'], ['50%', '50%']] %>
  <%= f.submit "create promo_code" %>
<% end %>

<br />

<table>
  <tr>
    <td></td>
    <td><b>code</b></td>
    <td><b>expiration date</b></td>
    <td><b>used</b></td>
    <td><b>discount rate</b></td>
  </tr>
<% @promo_codes.each do |promo_code| %>
  <tr>
    <td style="padding-right: 20px"><%= link_to raw('<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>'), promo_code_path(promo_code.id), method: :delete, class: "btn btn-default" %></td>
    <td style="padding-right: 20px"><%= promo_code.code %></td>
    <td style="padding-right: 20px"><%= promo_code.expiration_date %></td>
    <td style="padding-right: 20px"><%= promo_code.used %></td>
    <td style="padding-right: 20px"><%= promo_code.discount_rate %></td>
  </tr>
<% end %>
</table>

</center>
