<div id="reading">
<%= form_for(@reading) do |f| %>
  <% if @reading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reading.errors.count, "error") %> prohibited this reading from being saved:</h2>
      <ul>
      <% @reading.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  Name:&nbsp;&nbsp;<%= f.text_field :title %>

  <br /><br />

  <table>
    <tr>
      <td>
        <div class="td-heading">HOUR</div>
        <div class="td-heading-content"><%= @reading.birth_date.strftime("%l:%M") %></div>
      </td>
      <td>
        <div class="td-heading">DAY</div>
        <div class="td-heading-content"><%= @reading.birth_date.strftime("%e") %></div>
      </td>
      <td>
        <div class="td-heading">MONTH</div>
        <div class="td-heading-content"><%= @reading.birth_date.strftime("%B") %></div>
      </td>
      <td>
        <div class="td-heading">YEAR</div>
        <div class="td-heading-content"><%= @reading.birth_date.strftime("%Y") %></div>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.select :hour_celestial_stem, (1..10).to_a.map { |e| ["#{number_to_human_readable(e)} celestial stem", e] } %>
      </td>
      <td>
        <%= f.select :day_celestial_stem, (1..10).to_a.map { |e| ["#{number_to_human_readable(e)} celestial stem", e] } %>
      </td>
      <td>
        <%= f.select :month_celestial_stem, (1..10).to_a.map { |e| ["#{number_to_human_readable(e)} celestial stem", e] } %>
      </td>
      <td>
        <%= f.select :year_celestial_stem, (1..10).to_a.map { |e| ["#{number_to_human_readable(e)} celestial stem", e] } %>
      </td>
    </tr>
    <tr>
      <td>
        <div class="td-content-heading">Second Earthly Branch</div>
      </td>
      <td>
        <div class="td-content-heading">Third Earthly Branch</div>
      </td>
      <td>
        <div class="td-content-heading">First Earthly Branch</div>
      </td>
      <td>
        <div class="td-content-heading">Tenth Earthly Branch</div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="td-content">Season of</div>
      </td>
      <td>
        <div class="td-content">Season of</div>
      </td>
      <td>
        <div class="td-content">Season of</div>
      </td>
      <td>
        <div class="td-content">Season of</div>
      </td>
    </tr>
  </table>

  <br /><br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>