<%= form_for(@reading) do |f| %>

  <center>
    <span>title:</span> <%= readings_text_field f, :title %>
  </center>
  <br />
  <hr />

  <% if @reading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reading.errors.count, "error") %> prohibited this reading from being saved:</h2>

      <ul>
      <% @reading.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%
  cols = 70
  rows = 10
%>

  <table id="calendar" class="readings_calendar">
    <tr>
      <td>
        <h2>Hour</h2>
        <%= readings_select f, :hour, (1..10).to_a.map { |x| [ReadingsHelper.number_to_ordinal(x) + " Celestial Stem"] * 2 }, include_blank: true %>
        <%= readings_select f, :hour_element, ReadingsHelper.elements.map { |e| [e, e] }, include_blank: true %>
        <%= readings_select f, :hour_cardinal_direction, ReadingsHelper.cardinal_directions.map { |e| [e, e] }, include_blank: true %>
        <%= readings_select f, :hour_roles, ReadingsHelper.roles.map { |e| [e, e] }, include_blank: true %>
      </td>
      <td>
        <h2>Day</h2>
        <%= readings_select f, :day, (1..10).to_a.map { |x| [ReadingsHelper.number_to_ordinal(x) + " Celestial Stem"] * 2 }, include_blank: true %>
        <%= readings_select f, :day_element, ReadingsHelper.elements.map { |e| [e, e] }, include_blank: true %>
        <%= readings_select f, :day_cardinal_direction, ReadingsHelper.cardinal_directions.map { |e| [e, e] }, include_blank: true %>
        <%= readings_select f, :day_roles, ReadingsHelper.roles.map { |e| [e, e] }, include_blank: true %>
      </td>
      <td>
        <h2>Month</h2>
        <%= readings_select f, :month, (1..10).to_a.map { |x| [ReadingsHelper.number_to_ordinal(x) + " Celestial Stem"] * 2 }, include_blank: true %>
        <%= readings_select f, :month_element, ReadingsHelper.elements.map { |e| [e, e] }, include_blank: true %>
        <%= readings_select f, :month_cardinal_direction, ReadingsHelper.cardinal_directions.map { |e| [e, e] }, include_blank: true %>
        <%= readings_select f, :month_roles, ReadingsHelper.roles.map { |e| [e, e] }, include_blank: true %>
      </td>
      <td>
        <h2>Year</h2>
        <%= readings_select f, :year, (1..10).to_a.map { |x| [ReadingsHelper.number_to_ordinal(x) + " Celestial Stem"] * 2 }, include_blank: true %>
        <%= readings_select f, :year_element, ReadingsHelper.elements.map { |e| [e, e] }, include_blank: true %>
        <%= readings_select f, :year_cardinal_direction, ReadingsHelper.cardinal_directions.map { |e| [e, e] }, include_blank: true %>
        <%= readings_select f, :year_roles, ReadingsHelper.roles.map { |e| [e, e] }, include_blank: true %>
      </td>
    </tr>
    <tr>
      <td>
        <%= readings_select f, :hour_earthly_branch, (1..12).to_a.map { |x| [ReadingsHelper.number_to_ordinal(x) + " Earthy Branch"] * 2 }, include_blank: true %>
        <%= readings_select f, :earthly_branch_element_hour, ReadingsHelper.elements.map { |e| [e, e] }, include_blank: true %>
         <%= readings_select f, :earthly_branch_animal_hour, ReadingsHelper.animals.map { |e| [e, e] }, include_blank: true %>
         <%= readings_select f, :earthly_branch_direction_hour, ReadingsHelper.directions.map { |e| [e, e] }, include_blank: true %>
         <%= readings_select f, :earthly_branch_season_hour, ReadingsHelper.seasons.map { |e| [e, e] }, include_blank: true %>
         <%= readings_select f, :earthly_branch_auspicious_time_hour, ReadingsHelper.auspicious_time.map { |e| [e, e] }, include_blank: true %>
         <%= readings_select f, :earthly_branch_roles_hour, ReadingsHelper.roles.map { |e| [e, e] }, include_blank: true %>
      </td>
      <td>
        <%= readings_select f, :day_earthly_branch, (1..12).to_a.map { |x| [ReadingsHelper.number_to_ordinal(x) + " Earthy Branch"] * 2 }, include_blank: true %>
        <%= readings_select f, :earthly_branch_element_day, ReadingsHelper.elements.map { |e| [e, e] }, include_blank: true %>
        <%= readings_select f, :earthly_branch_animal_day, ReadingsHelper.animals.map { |e| [e, e] }, include_blank: true %>
        <%= readings_select f, :earthly_branch_direction_day, ReadingsHelper.directions.map { |e| [e, e] }, include_blank: true %>
        <%= readings_select f, :earthly_branch_season_day, ReadingsHelper.directions.map { |e| [e, e] }, include_blank: true %>
        <%= readings_select f, :earthly_branch_auspicious_time_day, ReadingsHelper.auspicious_time.map { |e| [e, e] }, include_blank: true %>
        <%= readings_select f, :earthly_branch_roles_day, ReadingsHelper.roles.map { |e| [e, e] }, include_blank: true %>
      </td>
      <td>
        <%= readings_select f, :month_earthly_branch, (1..12).to_a.map { |x| [ReadingsHelper.number_to_ordinal(x) + " Earthy Branch"] * 2 }, include_blank: true %>
        <%= readings_select f, :earthly_branch_element_month, ReadingsHelper.elements.map { |e| [e, e] }, include_blank: true %>
        <%= readings_select f, :earthly_branch_animal_month, ReadingsHelper.animals.map { |e| [e, e] }, include_blank: true %>
        <%= readings_select f, :earthly_branch_direction_month, ReadingsHelper.directions.map { |e| [e, e] }, include_blank: true %>
        <%= readings_select f, :earthly_branch_season_month, ReadingsHelper.directions.map { |e| [e, e] }, include_blank: true %>
        <%= readings_select f, :earthly_branch_auspicious_time_month, ReadingsHelper.auspicious_time.map { |e| [e, e] }, include_blank: true %>
        <%= readings_select f, :earthly_branch_roles_month, ReadingsHelper.roles.map { |e| [e, e] }, include_blank: true %>
      </td>
      <td>
        <%= readings_select f, :year_earthly_branch, (1..12).to_a.map { |x| [ReadingsHelper.number_to_ordinal(x) + " Earthy Branch"] * 2 }, include_blank: true %>
        <%= readings_select f, :earthly_branch_element_year, ReadingsHelper.elements.map { |e| [e, e] }, include_blank: true %>
        <%= readings_select f, :earthly_branch_animal_year, ReadingsHelper.animals.map { |e| [e, e] }, include_blank: true %>
        <%= readings_select f, :earthly_branch_direction_year, ReadingsHelper.directions.map { |e| [e, e] }, include_blank: true %>
        <%= readings_select f, :earthly_branch_season_year, ReadingsHelper.directions.map { |e| [e, e] }, include_blank: true %>
        <%= readings_select f, :earthly_branch_auspicious_time_year, ReadingsHelper.auspicious_time.map { |e| [e, e] }, include_blank: true %>
        <%= readings_select f, :earthly_branch_roles_year, ReadingsHelper.roles.map { |e| [e, e] }, include_blank: true %>
      </td>
    </tr>
    <tr>
      <td><%= readings_select f, :hour_season, ReadingsHelper.seasons_of, include_blank: true %></td>
      <td><%= readings_select f, :day_season, ReadingsHelper.seasons_of, include_blank: true %></td>
      <td><%= readings_select f, :month_season, ReadingsHelper.seasons_of, include_blank: true %></td>
      <td><%= readings_select f, :year_season, ReadingsHelper.seasons_of, include_blank: true %></td>
    </tr>
  </table>

  <br />
  <%= f.submit nil, name: 'field_updated', value: "Update calendar" %>
  <br />

  <%= content_for :significance do %>

  <h2>Significance of Your Celestial Element Sign</h2><hr />

  <%= readings_select f, :significance_of_your_celestial_element_sign_element, ReadingsHelper.elements, include_blank: false %>

  <%= readings_text_area f, :significance_of_your_celestial_element_sign, cols: cols, rows: rows %>

  <h2>Significance of the Year Pillar</h2><hr />

  <p class="significance">The Year Pillar represents the dynamics of your early life—typically from age 1 – 20 years</p>

  <p class="significance">It also represents the relationships with your parents, elders (such as uncles and aunts), grandparents, and in some cases legal guardians.</p>

  <%= readings_text_area f, :significance_of_the_year_pillar, cols: cols, rows: rows %>

  <h2>Significance of the Month Pillar</h2><hr />

  <p class="significance">The Month Pillar represents the dynamics of your period of life from age 21 – 40 years</p>

  <p class="significance">It also represents the relationships with your siblings, peers, colleagues, and friends. These are the most influential people in your life during your personal development stage.</p>

  <%= readings_text_area f, :significance_of_the_month_pillar, cols: cols, rows: rows %>

  <h2>Significance of the Day Pillar</h2><hr />

  <p class="significance">The Day Pillar represents the dynamics of your period of life from age 41 – 60 years</p>

  <p class="significance">It also represents relationships with the self, significant other(s), and with close friends as they truly understand and accept the real, core ‘you.’</p>

  <%= readings_text_area f, :significance_of_the_day_pillar, cols: cols, rows: rows %>

  <h2>Significance of the Hour Pillar</h2><hr />

  <p class="significance">The Hour Pillar represents the dynamics of your late life from age 61 years – when you've completed this life.</p>
  </span>

  <p class="significance">The Hour Pillar also represents the relationships with your offspring, younger adults, and your grand-children.</p>

  <%= readings_text_area f, :significance_of_the_hour_pillar, cols: cols, rows: rows %>

  <% end %>

  <%= content_for :analysis do %>

  <h3>Nature and Disposition Analysis:</h3>

  <%= readings_text_area f, :nature_and_disposition_analysis, cols: cols, rows: rows %>

  <h3>Shao Kang-Jie’s Four Characters:</h3>

  <%= readings_text_area f, :shao_kang_jies_four_characters, cols: cols, rows: rows %>

  <h3>Feng Shui Analysis:</h3>

  <%= readings_text_area f, :feng_shui_analysis %>

  <h3>Propositions for the Day Master:</h3>

  <%= readings_text_area f, :propositions_for_the_day_master, cols: cols, rows: rows %>

  <h3>Conclusion and Suggestions</h3>

  <p>
  Your parents or grandparents endowed you with some land or property and your household was managed mostly by a female figurehead during your childhood. <span class="last-sentence-of-paragraph">This is indicated by the presence of Direct Resource of the Ten Gods within your Year Pillar.</span>
  </p>
  <p>
  You are very likely to be burdened with lots of pressure, expectations, and problems for the rest of your life. In this sense, the lifelong theme of strife will not cease. <span class="last-sentence-of-paragraph">This is indicated by the Net Transformative Tendencies of your Five Phases yielding a significant surplus and the substantial prevalence of the Stars of Assistance and Stars of Nurturing among the Ten Gods.</span>
  </p>
  <p>
  You were happy, smart, and learned diligently as a child. You were also born to an affluent family with your parents working hard to amass their resources. <span class="last-sentence-of-paragraph">This is indicated by the presence of Consuming Spirit of the Ten Gods within the Year Pillar.</span>
  </p>
  <p>
  Your father was likely involved in a marital affair and hurt your mother. He was absent from much of your childhood and treasured by your grandmother (with whom she likely sided with in light of the affair)—which further hurt your mother. <span class="last-sentence-of-paragraph">This is indicated by Indirect Resource of the Ten Gods within the Year Pillar and the dynamics of the Season of Rejuvenation – Injury.</span>
  </p>
  <p>
  Your significant other(s) places their relationships with siblings and friends above their relationship with you and they also act and behave similar to you (mirroring your energy). <span class="last-sentence-of-paragraph">This is indicated by the presence of Peer Assistance of the Tend Gods within the Day Pillar.</span>
  </p>
  <p>
  You married late and experience significant marital issues due to excessive expectations and overly high standards you impose on your significant other(s). <span class="last-sentence-of-paragraph">This is indicated by the presence of Indirect Resource of the Ten Gods within your Day Pillar and its relationship with a significant surplus of your Net Transformative Tendencies of the Five Phases.</span>
  </p>
  <p>
  Medicine only has a slight effect on you in your old age. <span class="last-sentence-of-paragraph">This is indicated by Peer Assistance of the Ten Gods within your Time Pillar.</span>
  </p>
  <p>
  Your grandchildren are stubborn and easily defame you. <span class="last-sentence-of-paragraph">This is indicated by the prevalence of Rebellious Officer of the Ten Gods within your Time Pillar.</span>
  </p>
  <p>
  Your physical body is prone to excess, stagnation, heat, and specific health issues involving muscles, tissues, and the heart and spleen channels (Traditional Chinese Medicine terms). These represent toxicological retention, poor or diminished tissue expression, inflammation, and involve the cardiovascular, circulatory, and digestive systems, respectively. Should problems occur they will likely manifest as bloating, edema, emotional distress and accumulation, inflammatory disease(s), hypertension, ulcers, inflammatory bowel disease, immunodeficiency, stroke, heart disease, and heart attack. You are especially prone to anxiety and bitterness, respectively. To avoid this, relish in your joyful experiences and empathic exchanges with others in an uninhibited fashion. Additionally, you should avoid overindulgence in sweets or desserts, excessive thinking, worrying, and anxious behaviors. <span class="last-sentence-of-paragraph">This is indicated by an extremely powerful Yin Earth sign, the prevalence of Earth and Fire within your Four Pillars, and the dynamics of having to supplement with these very same respective elements.</span>
  </p>
  <p>
  You should do gardening, go camping, and go on walks for exercise; play chess for leisure; and take solace in spiritual ceremony. <span class="last-sentence-of-paragraph">This is indicated by your Net Transformative Tendencies of the Five Phases, Feng Shui dynamics, and an affinity for the Earth element.</span>
  </p>
  <p>
  You are a tenaciously resilient, overtly passionate, and intense individual who is disinclined to change views once your opinion is formed. Although you may feel compassionate towards people your intended kindness has a tendency to be seen as pressing and lofty—typically causing more harm than good. <span class="last-sentence-of-paragraph">This is indicated by the overwhelming prevalence of Earth and Fire, the extreme scarcity of Metal, and the complete absence of Water within your Four Pillars.</span>
  </p>
  <p>
  You tend to hold grudges easily and excessive Fire makes for a very dry Earth. A moist Yin Earth sign will attract and receive a wide range of energies, but a dry field will only yield the hardiest ones capable of enduring such harsh conditions. A desertified wheat field is not fertile—it primarily manifests the dissolute and aggressive. It is to be expected that you may be constantly betrayed by the people you trust. <span class="last-sentence-of-paragraph">This is indicated by the overwhelming prevalence of Fire in your Four Pillars and the dynamic of Earth as a particularly receptive element.</span>
  </p>
  <p>
  You rarely make decisions based solely on rational conclusion. Instead, you have a knack for focusing on the social implications of your involvements while risking your own career and reputation. <span class="last-sentence-of-paragraph">This is indicated by the significant lack of Metal in your Four Pillars.</span>
  </p>
  <p>
  Despite the tendency for you become overborn with passion, there is a small part of you reserved in presence. However, this can easily and quickly dissolve given the environment. <span class="last-sentence-of-paragraph">This is indicated by the minor presence of Wood in your Four Pillars and the propensity of Fire to phase this energy.</span>
  </p>

  <% end %>

  <%= render partial: 'readings/reading' %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
