<div class="blog-post">
<center>
  <h3 class="blog-post-title">
    <% if @do_not_render_title_as_link %>
    Two Twos for the Revival of Spring
    <% else %>
      <%= link_to "Two Twos for the Revival of Spring", blog_post_path('blog_dragon_festival') %>
    <% end %>
  </h3>
</center>
<%
# this should be 570 pixels wide
%>

<center><%= image_tag "yearofthedragon10.jpg" %></center>
<br />
<p class="blog-post-meta">March 9th, 2016 by <a href="/team#tat">Tat</a></p>

<p>
The <u>2nd day of the 2nd month</u> (Two Twos) of the Lunar Calendar marks the day
of "龍抬頭"—which literally means "The Dragon raises its head." In English,
the holiday is known as the Blue Dragon Festival. In Chinese mythology,
dragons are celestial beings that are tasked with managing weather with
precipitation (whether the gentle mists, life-giving rains, intimidating storms,
horrifying typhoons, or devastating tsunamis). Such is the blessing—or
curse—of the Dragon.
</p>

<p>
"The Dragon raises its head" is a phrase that means the dragon's dormant
hibernation has reached its end and the magnificent beast rears its head to
usher in the vital rains once again. This can also be seen from the position of
the constellations in the night sky of early spring. This time in the lunar
calendar marks the turning of spring and the bringing of rains to the lands. Its
significance dates back to the era before the Zhou dynasty (周朝), and since
China was a society based on agriculture in these early days this auspicious
event marks the beginning of farming in the new year and ushers in great
celebration. The soil is now soft enough to seed and the hardship of winter is
over once again.
</p>

<center>
  <%= image_tag 'what-is-the-blue-dragon-festival.jpg' %>
</center>
<br />

<p>
This tradition is usually carried out in the northern parts of China (since the
southern parts are blessed with much milder winters and an abundance of
water and humidity). Since the North has less sources of surface water and
agricultural activities can't happen without them, the Blue Dragon Festival
was created as a way to remind the locals of the coming rains and to rejoice in
this most auspicious day and see their worries wash away in the gentle rains
from the heavens.
</p>

<p>
March of 2016 is an entire month bestowed with Yin Metal from the Celestial
Stems and Yin Wood from the Earthly Branches. In and of itself, it is a month
of entanglement and clarity all in the same; a tumultuous, jarring energy that
juxtaposes many in its wake. On the day of the Blue Dragon Festival, Yin Metal
is further superimposed as well as Yin Wood once more. This only increases
the tendencies of March two-fold. It is a powerful day, with a tug-of- war type
of energetic disposition.
</p>

<div class="row">
  <div class="col-md-6 text-center">
    <%= image_tag 'dragon_looking_up.jpg' %>
  </div>
  <div class="col-md-6 text-center">
    <%= image_tag 'looking_up.jpg' %>
  </div>
</div>
<br />

<p>
The Yang Fire Stem of 2016 is already poised to melt the Yang Metal (Monkey
zodiac). The monkey is composed of Yang Water, Yang Metal, and Yang Earth.
The tendency of this combination is to enforce Water, which clashes head-on
with the Fire of the year so impassioned with melting the Metal contained
within. It also fortifies Metal to withstand the heat a bit more. However, with
the Yin Metal and Wood of March 10 th so prominent, these elements are able
to circumvent the direct effects of the Yang elements in the year Stem and
Branch and inadvertently fuels the Fire significantly—adding to the already
tense disposition of this month. This is definitely not a subtle coming of Spring
for the record books!
</p>

<br />
