<div class="blog-post">
<center>
  <h3 class="blog-post-title">
    <% if @do_not_render_title_as_link %>
      2017 Fire Rooster: a Dance Between Rivals
    <% else %>
      <%= link_to "2017 Fire Rooster: a Dance Between Rivals", blog_post_path('fire_rooster') %>
    <% end %>
  </h3>
</center>
<%
# this should be 570 pixels wide
%>

<center><%= image_tag "fire_rooster.jpg" %></center>

<p class="blog-post-meta">March 9th, 2016 by <a href="/team#kyle">Kyle</a></p>


<p>
新年快樂 (Xīn Nián Kuài Lè)! Happy Chinese New Year everyone! We hope everyone’s spending a well-deserved holiday surrounded by family, warmed by laughter, eased from rest, joyful from the fireworks, and stuffed silly with all kinds of delicious morsels. <i class="em em-blush"></i><i class="em em-tada"></i> Here we are again!
<p>
This New Year, we experience the coming of the Yin Fire <i>Celestial Stem</i> (termed “Ding”) and the <i>Earthly Branch</i> of Rooster (“Xin”). These two components make up just one yearly cycle within the complex 60-year cycle. This 60-year cycle is used to calculate both the <span class="blog-tooltip" rel="tooltip" title="wiki article coming soon!" aria-hidden="true">Heavenly Mandate</span> and the <span class="blog-tooltip" rel="tooltip" title="wiki article coming soon!" aria-hidden="true">Earthly Flow</span>. However, only the former is considered in a <%= link_to "personal Four Pillars reading", "/reading_services" %> and not for the year in general. This is an important thing to consider when understanding what 2017 means for <i>you</i>. Because of this, everyone will have drastically different experiences for what this new year brings.
</p>

<p>
<b>Very generally</b>, 2017 is a year that represents a divide and struggle between the impassioned and the affirmed. When we look closer in more detail, we can see that the transition from Monkey to Rooster is a significant one for several reasons:
</p>

<p>
Firstly, again we have a situation where Fire and Metal conflict head-on (like 2016). Yin Fire directly challenges Yin Metal—causing tension and a tug-of-war type of sensation that underlies most of this year. Depending on the month, there will be certain times of respite from this kind of teetering (especially during the transitions from spring to summer and fall to winter). The environment may continue to suffer from an increased output of production this year, most notably within Southeast Asia and the Malay Archipelago.
</p>
<p>
Secondly, the Monkey Zodiac <%= link_to "last year", "/blog/ignite_the_new_year_revelation_by_raising_it_to_the_heavens" %> brought us Yang Metal, Yang Water, and Yang Earth. But this year the Rooster Zodiac delivers only Yin Metal—representing virtue, distinction, or ornamentation at its best (but distraction, guarding, or unyielding at its worst). The Western world will continue to be more affected by the potential for chaos than other regions as it was last year—likely with more polarization than before (because now Rooster contains only one element whereas Money has supplied us with proximal ones when considering the strength of Fire in both of these years).
We stress here (as we always do during the Chinese New Year) that predictions saying that it’s either going to be a “good” or “bad” year are quite misleading. The reason that this is not necessarily the case is because <%= link_to "your own Four Pillars", "/reading_services" %> depends heavily on the dynamic component of the Earthly Branches, which are very unique to you in what they help you manifest in your life.
</p>
<p>
In other words, whether this year is lucky and fruitful (or struggling and difficult) for you this depends on the many circumstances of the Year, Month, Day, and Time of your birth. Let’s explain by showing a few readings from real people below (whose names are changed for confidentiality).
</p>

<span class="everything-plus"> <a id="example1-link" class="example1-link">
  <span>Here’s the chart of a person born to year of the Earth Dragon</span>
<span id="plus-example1">[+]</span><span id="minus-example1" class="hidden">[-]</span></a></span>

<div id="example1" class="hidden">

  <p>
 Here’s the chart of a person born to year of the Earth Dragon, month of the Fire Dragon, day of the Fire Snake, and hour of the Wood Snake. Let’s call him “Kevin.”
  </p>

  <center>
  <p>
  <%= image_tag 'my_four_pillars.png' %>
  </p>
  </center>

  <p>
  Here’s Kevin’s Net Transformative Tendencies of the Five Phases. He needs Water and Earth, respectively. He also needs to avoid Fire and Metal in that order as well.
  </p>

  <center>
  <p>
  <%= image_tag 'breakdown.png' %>
  </p>
  </center>

  <p>
  2017 will offer Kevin some unique opportunities as well as challenges. First of all, Kevin has a very complicated setup because he needs both Water and Earth. Water acts as a discipline, and Earth acts as a contribution or output for Kevin in his life. The difficulty here is that Earth invades Water (they’re enemies). This means that Kevin is prone to having his avant-garde type artistic, nurturing, and philanthropic efforts sabotaging his greater need for discipline, restriction, and self-control. Kevin needs Water because he has too much Fire (Yang Fire; <i>Benevolent Plunder</i> of the Ten Gods, in particular). This means that Kevin is very easily over-impassioned, to the point that he may become bitter with certain people and situations in his life. The best tool for this job is Yang Water (<i>Just Officer</i>), because it represents “going with the flow” in a swift and executive manner. However, Kevin already has a considerable mound of Yang Earth (<i>Rebellious Officer</i>) in his Four Pillars, which is a natural obstacle to water. This kind of Earth will just so easily absorb Yang Water and render it far less powerful—and it also takes part in making Kevin seem overbearing or harsh to some people. So how can Kevin’s dilemma be remedied from another angle? Yin Metal.
  </p>
  <p>
  2017 is the year of the Rooster, which contains only Yin Metal. From this perspective, Yin Metal is very effective at weakening and draining Yang Earth. So, in this way, Yin Metal <i>could</i> help Kevin but only in certain circumstances—where Water is also prevalent. Furthermore, Yin Metal is less susceptible to invasion by Yang Fire (which Kevin has so much of already!) and <i>this</i> type of Metal is most conducive for reinforcing Yang Water. Therefore, Kevin’s best bet at preventing the Fire of his own Four Pillars and the Fire of the <i>Fire</i> Rooster year from becoming enormously overbearing and destructive in his life is to take advantage of Yin Metal’s ability to reinforce Yang Water, deplete Yang Earth, and evade Yang Fire. Clever.
  </p>
  <p>
  And, last but not least, we must always consider the <span class="blog-tooltip" rel="tooltip" title="wiki article coming soon!" aria-hidden="true">Heavenly Mandate</span>—which is always unique to <i>the person</i>. This means that even if a year is a particular set of elements (i.e. 2017 is Fire and Metal), we must take into account the <i>additional</i> set of stem-branches from the ten-year phase of the <span class="blog-tooltip" rel="tooltip" title="wiki article coming soon!" aria-hidden="true">Heavenly Mandate</span>. Kevin’s additional element(s) is Yin Earth—which only serves to strengthen the recommendations made previously in regards to being better-received by his various outputs and clearing away his inner conflict. This is good news for Kevin. <i class="em em-thumbsup"></i>
  </p>
  <p>
  If Kevin follows this strategy, he may find it easier to manifest the following in 2017: Making money with ease and yielding bigger returns on his “side” investments, coming off less harsh or threatening to people when voicing his opinions and engaging in his endeavors, and disciplining himself in a beneficial way where battles are chosen and not created by impulse.
  </p>
  <p>
  If Kevin follows no strategy, he will become overwhelmed by the sense of inner-conflict brought on by the Yin Fire of this year, and he would be most insecure or even bitter during the summer months. The point here is that no matter what, Kevin always has <b>some</b> opportunity no matter what year it is. These circumstances above are just cards in an ethereal “poker hand” that just needs to be played in a certain way to reap a certain result. We all wish the best for Kevin (and ourselves)!
  </p>
</div>

<br />

<span class="everything-plus"> <a id="example2-link" class="example2-link">
  <span>Here’s the chart of a person born to year of the Earth Snake</span>
<span id="plus-example2">[+]</span><span id="minus-example2" class="hidden">[-]</span></a></span>

<div id="example2" class="hidden">

  <p>
 Here’s the chart of a person born to year of the Earth Snake, month of the Water Monkey, day of the Earth Goat, and hour of the Water Monkey. Let’s call her “Veronica.”
  </p>

  <center>
  <p>
  <%= image_tag 'vea_fp.png' %>
  </p>
  </center>

  <p>
  Here’s Veronica’s Net Transformative Tendencies of the Five Phases. She needs Earth and Fire, respectively. She also needs to avoid Wood and Water in that order as well.
  </p>

  <center>
  <p>
  <%= image_tag 'vea-five-phrases.png' %>
  </p>
  </center>

  <p>
  2017 will offer Veronica some unique opportunities as well as challenges. First of all, Veronica needs both Earth and Fire. Fire bears Earth and makes it stronger—a doubly-good thing for Veronica. Earth acts as an empowering, self-developing energy for her and Fire acts as a supportive or nurturing energy. Veronica has a setup where she mainly needs substance (a greater sense of self and resources). This means that Veronica is prone to having issues with bossy or manipulative types of people and situations that restrict her mobility and reduce her already weak sense of direction in her life. Veronica needs to avoid Water because she already has too much of it. Water (especially Yang Water; <i>Direct Wealth</i> — which she has most significantly) is particularly taxing on her. This makes Veronica a very hard worker—but too hard. She wears herself thin and works beyond a sense of <i>why</i> or <i>purpose</i>; Veronica works “just because.”
  </p>
  <p>
  So, in this way, the year of Fire Rooster carries both gifts and precautions for her. On one hand, Fire is a welcome addition to the year. Veronica will feel more supported by her peers and at-ease when it comes to having resources made more available to her in 2017. However, Yin Metal (<i>Consuming Spirit</i>) acts as a “double-challenge” in her case. This type of Metal is especially good at building and reinforcing Yang Water (what she needs the least!) <i>and</i> depleting Earth (what she needs the most!) simultaneously, so it may become a considerable burden.
  </p>
  <p>
  So, this means that when Water is most prevalent throughout 2017, Veronica will feel stretched thin and deplete from overwork and a lessened sense of direction in her life. The year of the Fire Rooster is a topsy-turvy one for her to say the least—a rollercoaster, landmine navigation of ups and downs. Veronica must make a concerted effort to place every one of her steps mindfully and without haste, otherwise she will find herself in some less-than-desirable scenarios. She must try her best not to act without thinking or being too indifferent or indecisive, and spend more time around an audience that supports her in the best ways possible. This is also a prime time to reflect inward and establish a greater sense of self.
  </p>
  <p>
  And, last but not least, we must always consider the <span class="blog-tooltip" rel="tooltip" title="wiki article coming soon!" aria-hidden="true">Heavenly Mandate</span>—which is always unique to <i>the</i> person. This means that even if a year is a particular set of elements (i.e. 2017 is Fire and Metal), we must take into account the <i>additional set of stem-branches</i> from the ten-year phase of the <span class="blog-tooltip" rel="tooltip" title="wiki article coming soon!" aria-hidden="true">Heavenly Mandate</span>. Veronica’s additional elements are Yin Wood and Yang Water—which only serves to add further burden her challenges described previously. This may be a bit of a tricky year for Veronica! <i class="em em-neutral_face"></i>
  </p>
  <p>
  If Veronica follows this strategy, she may find it easier to manifest the following in 2017: Garnering support from friends and loved ones for her endeavors, establishing a stronger sense of who she is and what she truly wants and needs in life, preventing her natural state of imbalance from getting more extreme, and evading issues related to running on empty for an extended period of time.
  </p>
  <p>
  If Veronica follows no strategy, she will become overwhelmed by a sense of ritualistic, meaningless work by the Yang Water fed even more by the Yin Metal of this year, and she would feel most worn down and weak-spirited during the winter months. Again, the point we should take away from Veronica’s example is that no matter what she always has <b>some</b> opportunity regardless of the year. We continue to wish the best for Veronica (and ourselves).
  </p>
</div>

<br /><br />

<p>
<%= link_to "Depending on your own reading", "/reading_services" %>, the Fire Rooster year of 2017 is going to offer many different opportunities, challenges, and outcomes that are unique only to you. We truly wish you the most auspicious year with many possible graces, fortunes, and opportunities discovered.
</p>

<script type="text/javascript">
$(document).ready(function(){
    $("[rel=tooltip]").tooltip({ placement: 'right'});
});

$("#example2-link").click(function() {
  $("#minus-example2, #plus-example2, #example2").toggleClass("hidden");
});
$("#example1-link").click(function() {
  $("#minus-example1, #plus-example1, #example1").toggleClass("hidden");
});

</script>
</div><!-- /.blog-post -->
