<div id="reading_services">
  <div id="pdf-background">
    <div id="close-pdf">X</div>
  </div>
  <div id="pdf"></div>

  <center>
    <h2>Chinese Astrology Reading Services</h2>
  </center>

  <div class="alert alert-success alert-reading-services gold jumbotron" role="alert">
    Chinese New Year Sale! Take 50% off any reading until February 15th
  </div>

  <hr />

  <center>
    <h4>The exact time of your birth (hour and minute) is required for an accurate reading</h4>
  </center>

  <br />

  <div class="col-md-3-wrapper row">
    <div class="col-md-3-duo">
      <div class="col-md-3">
        <div class="service">
          <div class="service-heading">
            <div class="row">
              <div class="col-md-6"><h3 style="font-size: 23px !important"><%= ReadingServicesHelper::TIERS[0] %></h3></div>
              <div class="col-md-6 text-right">
                <%= render partial: 'pages/sale_button', locals: { url: ReadingServicesHelper.urlify(0), new_price: '$4.99', old_price: '$9.99' } %>
              </div>
            </div>
          </div>

          <div class="service-body">
            <ul>
              <%= render partial: 'tier_features/tier_1' %>
            </ul>
            <br>
            <%=link_to "View Sample Reading#{image_tag('pdf.png')}".html_safe, show_pdf_path(plan: "Basic"), remote: true, id:"sample-1"%>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="service">
          <div class="service-heading">
            <div class="row">
              <div class="col-md-6"><h3><%= ReadingServicesHelper::TIERS[1] %></h3></div>
              <div class="col-md-6 text-right">
                <%= render partial: 'pages/sale_button', locals: { url: ReadingServicesHelper.urlify(1), new_price: '$9.99', old_price: '$19.99' } %>
              </div>
            </div>
          </div>

          <div class="service-body">
            <span class="everything-plus"><a id="tier-1-a" class="tier-a"><span class="tier-text">everything in <%= ReadingServicesHelper::TIERS[0] %> </span>
            <span id="plus-1">[+]</span><span id="minus-1" class="hidden">[-]</span></a></span>
            <ul id="tier-1-box" class="tier-box hidden">
              <%= render partial: 'tier_features/tier_1' %>
            </ul>
            <center><span class="everything-plus"><i>...plus:</i></span></center>

            <ul>
              <%= render partial: 'tier_features/tier_2' %>
            </ul>
            <br>
            <%=link_to "View Sample Reading#{image_tag('pdf.png')}".html_safe, show_pdf_path(plan: "Standard"), remote: true, id:"sample-2"%>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3-duo">
      <div class="col-md-3">
        <div class="service">
          <div class="service-heading">
            <div class="row">
              <div class="col-md-6"><h3><%= ReadingServicesHelper::TIERS[2] %></h3></div>
              <div class="col-md-6 text-right">
                <%= render partial: 'pages/sale_button', locals: { url: ReadingServicesHelper.urlify(2), new_price: '$24.99', old_price: '$49.99' } %>
              </div>
            </div>
          </div>

          <div class="service-body">
            <span class="everything-plus"><a id="tier-2-a" class="tier-a"><span class="tier-text">everything in <%= ReadingServicesHelper::TIERS[1] %> </span>
            <span id="plus-2">[+]</span><span id="minus-2" class="hidden">[-]</span></a></span>
            <ul id="tier-2-box" class="tier-box hidden">
              <%= render partial: 'tier_features/tier_1' %>
              <%= render partial: 'tier_features/tier_2' %>
            </ul>
            <center><span class="everything-plus"><i>...plus:</i></span></center>

            <ul>
              <%= render partial: 'tier_features/tier_3' %>
            </ul>
            <br>
            <%=link_to "View Sample Reading#{image_tag('pdf.png')}".html_safe, show_pdf_path(plan: "Advanced"), remote: true, id:"sample-3"%>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="service">
          <div class="service-heading">
            <div class="row">
              <div class="col-md-6"><h3><%= ReadingServicesHelper::TIERS[3] %></h3></div>
              <div class="col-md-6 text-right">
                <%= render partial: 'pages/sale_button', locals: { url: ReadingServicesHelper.urlify(3), new_price: '$49.99', old_price: '$99.99' } %>
              </div>
            </div>
          </div>

          <div class="service-body">
            <span class="everything-plus"> <a id="tier-3-a" class="tier-a"><span class="tier-text">everything in <%= ReadingServicesHelper::TIERS[2] %></span>
            <span id="plus-3">[+]</span><span id="minus-3" class="hidden">[-]</span></a></span>
            <ul id="tier-3-box" class="tier-box hidden">
              <%= render partial: 'tier_features/tier_1' %>
              <%= render partial: 'tier_features/tier_2' %>
              <%= render partial: 'tier_features/tier_3' %>
            </ul>
            <center><span class="everything-plus"><i>...plus:</i></span></center>

            <ul>
              <%= render partial: 'tier_features/tier_4' %>
            </ul>
            <br>
            <%=link_to "View Sample Reading#{image_tag('pdf.png')}".html_safe, show_pdf_path(plan: "Premium"), remote: true, id:"sample-4"%>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $("[rel=tooltip]").tooltip({ placement: 'right'});
});

$("#tier-1-a").click(function() {
  $("#plus-1, #minus-1, #tier-1-box").toggleClass("hidden");
});
$("#tier-2-a").click(function() {
  $("#plus-2, #minus-2, #tier-2-box").toggleClass("hidden");
});
$("#tier-3-a").click(function() {
  $("#plus-3, #minus-3, #tier-3-box").toggleClass("hidden");
});
$("#close-pdf").click(function() {
  $("#pdf, #pdf-background").hide();
});
</script>
