<div id="reading_services">
  <center>
    <h2>Reading Services</h2>
  </center>

  <hr />

  <center>
    <h4>The exact time of your birth (hour and minute) is required for an accurate reading</h4>
  </center>

  <br />

  <div class="row">
    <div class="col-md-3">
      <div class="service">
        <div class="service-heading">
          <div class="row">
            <div class="col-md-6"><h3><%= ReadingServicesHelper::TIERS[0] %></h3></div>
            <div class="col-md-6 text-right">
              <a href="/purchase_reading_service/<%= ReadingServicesHelper.urlify(0) %>" class="btn btn-primary" role="button">$9.99</a>
            </div>
          </div>
        </div>

        <div class="service-body">
          <ul>
            <li><span class="glyphicon glyphicon-question-sign" rel="tooltip" title="The map of your past, current, and future life. The various components of this detail your relationships with people and the environment as well as energetic tendencies and dispositions that mark your personality, decision-making, and destiny." aria-hidden="true"></span> Four Pillars Chart</li>
            <li><span class="glyphicon glyphicon-question-sign" rel="tooltip" title="There are ten Celestial Stems which follow a ten-year cycle. They represent ethereal source energies bestowed from the cosmos." aria-hidden="true"></span> Heavenly Stems</li>
            <li><span class="glyphicon glyphicon-question-sign" rel="tooltip" title="There are twelve Earthly Branches which follow a complex 60-year cycle. They represent denser energies grounded on our physical plane." aria-hidden="true"></span> Earthly Branches</li>
            <li><span class="glyphicon glyphicon-question-sign" rel="tooltip" title="An ancient Taoist concept derived from an observation of duality in the universe; light and dark, hard and soft, strong and weak, warm and cold. There are very many applications for this paradigm and prove quite fundamental to a Four Pillars reading." aria-hidden="true"></span> Yin and Yang</li>
            <li><span class="glyphicon glyphicon-question-sign" rel="tooltip" title="Observed from the Year Pillar—the complex dynamics of your relationship with your parents and elders, and the fundamental dynamics of your interaction with them." aria-hidden="true"></span> Parental Relationships</li>
            <li><span class="glyphicon glyphicon-question-sign" rel="tooltip" title="Observed from the Month Pillar—the complex dynamics of your relationship with your peers and friends, and the fundamental dynamics of your interaction with them." aria-hidden="true"></span> Peer Relationships</li>
            <li><span class="glyphicon glyphicon-question-sign" rel="tooltip" title="Observed from the Day Pillar—the complex dynamics of your relationship with romantic interests, lovers, and spouses, and the fundamental dynamics of your interaction with them." aria-hidden="true"></span> Romantic Relationships</li>
            <li><span class="glyphicon glyphicon-question-sign" rel="tooltip" title="Observed from the Time Pillar—the complex dynamics of your relationship with your children and the younger generations, and the fundamental dynamics of your interaction with them." aria-hidden="true"></span> Offspring Relationships</li>
            <li><span class="glyphicon glyphicon-question-sign" rel="tooltip" title="Also called the Five Elements. It acts as the cohesive factor to all readings in Four Pillars of Destiny astrology. The Five Phases illustrate all dynamics of all elements within the Four Pillars chart, explaining for the what, why, and how of all manifestations in your life." aria-hidden="true"></span> Five-phase Analysis</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="service">
        <div class="service-heading">
          <div class="row">
            <div class="col-md-6"><h3><%= ReadingServicesHelper::TIERS[1] %></h3></div>
            <div class="col-md-6 text-right">
              <a href="/purchase_reading_service/<%= ReadingServicesHelper.urlify(1) %>" class="btn btn-primary" role="button">$19.99</a>
            </div>
          </div>
        </div>

        <div class="service-body">
          <ul>
            <li>Four Pillars Chart</li>
            <li>Heavenly Stems</li>
            <li>Earthly Branches</li>
            <li>Yin and Yang</li>
            <li>Parental Relationships</li>
            <li>Peer Relationships</li>
            <li>Romantic Relationships</li>
            <li>Offspring Relationships</li>
            <li>Five-phase Analysis</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="service">
        <div class="service-heading">
          <div class="row">
            <div class="col-md-6"><h3><%= ReadingServicesHelper::TIERS[2] %></h3></div>
            <div class="col-md-6 text-right">
              <a href="/purchase_reading_service/<%= ReadingServicesHelper.urlify(2) %>" class="btn btn-primary" role="button">$49.99</a>
            </div>
          </div>
        </div>

        <div class="service-body">
          <ul>
            <li>Four Pillars Chart</li>
            <li>Heavenly Stems</li>
            <li>Earthly Branches</li>
            <li>Yin and Yang</li>
            <li>Parental Relationships</li>
            <li>Peer Relationships</li>
            <li>Romantic Relationships</li>
            <li>Offspring Relationships</li>
            <li>Five-phase Analysis</li>
            <li>Career Guidance</li>
            <li>Wei Qian-Li's Fortune
            <li>Propositions for Sprit</li>
            <li>Propositions for the Day Master</li>
            <li>Shao Kang-Jie's Four Characters
            <li>Nature and Disposition Analysis</li>
            <li>Spousal Guidance</li>
            <li>60-year Cycle Demographics</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="service">
        <div class="service-heading">
          <div class="row">
            <div class="col-md-6"><h3><%= ReadingServicesHelper::TIERS[3] %></h3></div>
            <div class="col-md-6 text-right">
              <a href="/purchase_reading_service/<%= ReadingServicesHelper.urlify(3) %>" class="btn btn-primary" role="button">$99.99</a>
            </div>
          </div>
        </div>

        <div class="service-body">
          <ul>
            <li>Four Pillars Chart</li>
            <li>Heavenly Stems</li>
            <li>Earthly Branches</li>
            <li>Yin and Yang</li>
            <li>Parental Relationships</li>
            <li>Peer Relationships</li>
            <li>Romantic Relationships</li>
            <li>Offspring Relationships</li>
            <li>Five-phase Analysis</li>
            <li>Career Guidance</li>
            <li>Wei Qian-Li's Fortune</li>
            <li>Propositions for Sprit</li>
            <li>Propositions for the Day Master</li>
            <li>Shao Kang-Jie's Four Characters</li>
            <li>Nature and Disposition Analysis</li>
            <li>Spousal Guidance</li>
            <li>60-year Cycle Demographics</li>
            <li>Auspicious Events Digression</li>
            <li>Destiny Digression</li>
            <li>Axil Digression </li>
            <li>Skype Consultation</li>
            <li>Answers to Personalized Questions</li>
            <li>Reading Transcripts</li>
            <li>Classical Chinese Translation</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $("[rel=tooltip]").tooltip({ placement: 'right'});
});
</script>

