<div id="reading_services">
  <div class="alert alert-success" role="alert">Chinese New Years Sale! Everything 50% off</div>

  <center>
    <h2>Reading Services</h2>
  </center>

  <hr />

  <center>
    <h4>The exact time of your birth (hour and minute) is required for an accurate reading</h4>
  </center>

  <br />

  <div class="row">
    <div class="col-md-3">
      <div class="service">
        <div class="service-heading">
          <div class="row">
            <div class="col-md-6"><h3><%= ReadingServicesHelper::TIERS[0] %></h3></div>
            <div class="col-md-6 text-right">
              <a href="/purchase_reading_service/<%= ReadingServicesHelper.urlify(0) %>" class="btn btn-primary" role="button"><span class="strikethrough">$9.99</span> $4.99</a>
            </div>
          </div>
        </div>

        <div class="service-body">
          <ul>
            <%= render partial: 'tier_features/tier_1' %>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="service">
        <div class="service-heading">
          <div class="row">
            <div class="col-md-6"><h3><%= ReadingServicesHelper::TIERS[1] %></h3></div>
            <div class="col-md-6 text-right">
              <a href="/purchase_reading_service/<%= ReadingServicesHelper.urlify(1) %>" class="btn btn-primary" role="button"><span class="strikethrough">$19.99</span> $9.99</a>
            </div>
          </div>
        </div>

        <div class="service-body">
          <span class="everything-plus">everything in <%= ReadingServicesHelper::TIERS[0] %> <a id="tier-1-a" href="javascript:toggleBox('#tier-1-box')">[+]</a></span>
          <ul id="tier-1-box" class="tier-box">
            <%= render partial: 'tier_features/tier_1' %>
          </ul>

          <ul>
            <%= render partial: 'tier_features/tier_2' %>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="service">
        <div class="service-heading">
          <div class="row">
            <div class="col-md-6"><h3><%= ReadingServicesHelper::TIERS[2] %></h3></div>
            <div class="col-md-6 text-right">
              <a href="/purchase_reading_service/<%= ReadingServicesHelper.urlify(2) %>" class="btn btn-primary" role="button"><span class="strikethrough">$49.99</span> $24.99</a>
            </div>
          </div>
        </div>

        <div class="service-body">
          <span class="everything-plus">everything in <%= ReadingServicesHelper::TIERS[1] %> <a id="tier-2-a" href="javascript:toggleBox('#tier-2-box')">[+]</a></span>
          <ul id="tier-2-box" class="tier-box">
            <%= render partial: 'tier_features/tier_1' %>
            <%= render partial: 'tier_features/tier_2' %>
          </ul>

          <ul>
            <%= render partial: 'tier_features/tier_3' %>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="service">
        <div class="service-heading">
          <div class="row">
            <div class="col-md-6"><h3><%= ReadingServicesHelper::TIERS[3] %></h3></div>
            <div class="col-md-6 text-right">
              <a href="/purchase_reading_service/<%= ReadingServicesHelper.urlify(3) %>" class="btn btn-primary" role="button"><span class="strikethrough">$99.99</span> $44.99</a>
            </div>
          </div>
        </div>

        <div class="service-body">
          <span class="everything-plus">everything in <%= ReadingServicesHelper::TIERS[2] %> <a id="tier-3-a" href="javascript:toggleBox('#tier-3-box')">[+]</a></span>
          <ul id="tier-3-box" class="tier-box">
            <%= render partial: 'tier_features/tier_1' %>
            <%= render partial: 'tier_features/tier_2' %>
            <%= render partial: 'tier_features/tier_3' %>
          </ul>

          <ul>
            <%= render partial: 'tier_features/tier_4' %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $("[rel=tooltip]").tooltip({ placement: 'right'});
});

function toggleBox(finder) {
  if ($(finder.replace('box', 'a')).html() == '[+]') {
    $(finder.replace('box', 'a')).html('[-]');
  }
  else {
    $(finder.replace('box', 'a')).html('[+]');
  }
  $(finder).toggle();
}

$('#tier-1-box').hide();
$('#tier-2-box').hide();
$('#tier-3-box').hide();
</script>

