<div id="reading_services">
  <div class="alert alert-success" role="alert">Chinese New Years Sale! Everything 50% off</div>

  <center>
    <h2>Reading Services</h2>
  </center>

  <hr />

  <center>
    <h4>The exact time of your birth (hour and minute) is required for an accurate reading</h4>
  </center>

  <br />

  <div class="row">
    <div class="col-md-3">
      <div class="service">
        <div class="service-heading">
          <div class="row">
            <div class="col-md-6"><h3><%= ReadingServicesHelper::TIERS[0] %></h3></div>
            <div class="col-md-6 text-right">
              <a href="/purchase_reading_service/<%= ReadingServicesHelper.urlify(0) %>" class="btn btn-primary" role="button">$9.99</a>
            </div>
          </div>
        </div>

        <div class="service-body">
          <ul>
            <li>Four Pillars Chart <span class="glyphicon glyphicon-question-sign" rel="tooltip" title="The map of your past, current, and future life. The various components of this detail your relationships with people and the environment as well as energetic tendencies and dispositions that mark your personality, decision-making, and destiny." aria-hidden="true"></span></li>
            <li>Heavenly Stems <span class="glyphicon glyphicon-question-sign" rel="tooltip" title="There are ten Celestial Stems which follow a ten-year cycle. They represent ethereal source energies bestowed from the cosmos." aria-hidden="true"></span></li>
            <li>Earthly Branches <span class="glyphicon glyphicon-question-sign" rel="tooltip" title="There are twelve Earthly Branches which follow a complex 60-year cycle. They represent denser energies grounded on our physical plane." aria-hidden="true"></span></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="service">
        <div class="service-heading">
          <div class="row">
            <div class="col-md-6"><h3><%= ReadingServicesHelper::TIERS[1] %></h3></div>
            <div class="col-md-6 text-right">
              <a href="/purchase_reading_service/<%= ReadingServicesHelper.urlify(1) %>" class="btn btn-primary" role="button">$19.99</a>
            </div>
          </div>
        </div>

        <div class="service-body">
          <span class="everything-plus">everything in Chart Only Tier +</span>
          <ul>
            <li>Yin and Yang <span class="glyphicon glyphicon-question-sign" rel="tooltip" title="An ancient Taoist concept derived from an observation of duality in the universe; light and dark, hard and soft, strong and weak, warm and cold. There are very many applications for this paradigm and prove quite fundamental to a Four Pillars reading." aria-hidden="true"></span></li>
            <li>Parental Relationships <span class="glyphicon glyphicon-question-sign" rel="tooltip" title="Observed from the Year Pillar—the complex dynamics of your relationship with your parents and elders, and the fundamental dynamics of your interaction with them." aria-hidden="true"></span></li>
            <li>Peer Relationships <span class="glyphicon glyphicon-question-sign" rel="tooltip" title="Observed from the Month Pillar—the complex dynamics of your relationship with your peers and friends, and the fundamental dynamics of your interaction with them." aria-hidden="true"></span></li>
            <li>Romantic Relationships <span class="glyphicon glyphicon-question-sign" rel="tooltip" title="Observed from the Day Pillar—the complex dynamics of your relationship with romantic interests, lovers, and spouses, and the fundamental dynamics of your interaction with them." aria-hidden="true"></span></li>
            <li>Offspring Relationships <span class="glyphicon glyphicon-question-sign" rel="tooltip" title="Observed from the Time Pillar—the complex dynamics of your relationship with your children and the younger generations, and the fundamental dynamics of your interaction with them." aria-hidden="true"></span></li>
            <li>Five-phase Analysis <span class="glyphicon glyphicon-question-sign" rel="tooltip" title="Also called the Five Elements. It acts as the cohesive factor to all readings in Four Pillars of Destiny astrology. The Five Phases illustrate all dynamics of all elements within the Four Pillars chart, explaining for the what, why, and how of all manifestations in your life." aria-hidden="true"></span></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="service">
        <div class="service-heading">
          <div class="row">
            <div class="col-md-6"><h3><%= ReadingServicesHelper::TIERS[2] %></h3></div>
            <div class="col-md-6 text-right">
              <a href="/purchase_reading_service/<%= ReadingServicesHelper.urlify(2) %>" class="btn btn-primary" role="button">$49.99</a>
            </div>
          </div>
        </div>

        <div class="service-body">
          <span class="everything-plus">everything in Basic Tier +</span>
          <ul>
            <li>Career Guidance</li>
            <li>Wei Qian-Li's Fortune <span class="glyphicon glyphicon-question-sign" rel="tooltip" title="An in-depth digression on the fundamental characteristics of the Day Master sign attributed to you. This section outlines the purest of tendencies of the ethereal energy you exhibit at the moment of birth." aria-hidden="true"></li>
            <li>Propositions for Sprit <span class="glyphicon glyphicon-question-sign" rel="tooltip" title="These are suggestions custom-tailored to the element(s) that you need to be supplementing and surrounding yourself with as well as strategy for the Ten Gods in order to facilitate a much more easily manifested destiny within your life." aria-hidden="true"></li>
            <li>Propositions for the Day Master</li>
            <li>Shao Kang-Jie's Four Characters <span class="glyphicon glyphicon-question-sign" rel="tooltip" title="These are a four-word poem in classical Mandarin Chinese which provide your life story (or fate) in a “nutshell." aria-hidden="true"></li>
            <li>Nature and Disposition Analysis <span class="glyphicon glyphicon-question-sign" rel="tooltip" title="We outline all of the qualities of your personality in specific detail, including your strengths, weaknesses, advantages, and shortcomings." aria-hidden="true"></li>
            <li>Spousal Guidance</li>
            <li>60-year Cycle Demographics</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="service">
        <div class="service-heading">
          <div class="row">
            <div class="col-md-6"><h3><%= ReadingServicesHelper::TIERS[3] %></h3></div>
            <div class="col-md-6 text-right">
              <a href="/purchase_reading_service/<%= ReadingServicesHelper.urlify(3) %>" class="btn btn-primary" role="button">$99.99</a>
            </div>
          </div>
        </div>

        <div class="service-body">
          <span class="everything-plus">everything in Advanced Tier +</span>
          <ul>
            <li>Auspicious Events Digression</li>
            <li>Destiny Digression</li>
            <li>Axil Digression</li>
            <li>Skype Consultation <span class="glyphicon glyphicon-question-sign" rel="tooltip" title="For all Premium readings we provide one 60-minute Skype session with a reader in Four Pillars so as to better-elaborate your reading and guide an accurate interpretation." aria-hidden="true"></li>
            <li>Answers to Personalized Questions <span class="glyphicon glyphicon-question-sign" rel="tooltip" title="For all Basic readings we provide an answer to one personalized question; for all Advanced readings we provide an answer to three; and for all Premium readings we provide an answer to five." aria-hidden="true"></li>
            <li>Reading Transcripts <span class="glyphicon glyphicon-question-sign" rel="tooltip" title="A printable PDF file of your customized Four Pillars reading with a detailed description of each section." aria-hidden="true"></li>
            <li>Classical Chinese Translation <span class="glyphicon glyphicon-question-sign" rel="tooltip" title="A greater attempt is made to digress all of the subtle nuances in classical Mandarin Chinese when translated to modern English—an examination of classic texts is expanded upon within the reading." aria-hidden="true"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $("[rel=tooltip]").tooltip({ placement: 'right'});
});
</script>

