<%= form_for(@info_for_reading) do |f| %>
  <% if @info_for_reading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@info_for_reading.errors.count, "error") %> prohibited this info_for_reading from being saved:</h2>

      <ul>
      <% @info_for_reading.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, required: true %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :birth_date %><br>
    <%= f.datetime_select :birth_date, start_year: 1900, ampm: true %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select :gender, [['male', 'male'], ['female', 'female']], include_blank: true %>
  </div>
  <div class="field">
    <%= f.text_area :personalized_question, cols: 60, rows: 5, maxlength: 100, placeholder: "Personalized questions (limit it to around 100 characters)." %>
  </div>
  <input type="hidden" name="info_for_reading[service_type]" id="info_for_reading_service_type" value="<%= @package %>">
<% end %>

<br />

<% if @package == 'basic' %>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" id="paypal_form">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="RU878S99DR3QJ">
  </form>
<% elsif @package == 'standard' %>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" id="paypal_form">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="G7BH6EHU4E7KJ">
  </form>
<% elsif @package == 'full' %>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" id="paypal_form">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="25RTKGPPA2WFL">
  </form>
<% end %>

<input id="paypal_button" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">

<script>
$("#paypal_button").click(function () {
  var name = $('#info_for_reading_email').val();
  var email = $('#info_for_reading_email').val();
  var gender = $('#info_for_reading_gender').val();

  if(name != "" && email != "" && gender != "") {
    $.post(
      "<%= info_for_readings_path %>",
      {
        info_for_reading: {
          name: $("#info_for_reading_name").val(),
          email: $('#info_for_reading_email').val(),
          date: $('#birth_date').val(),
          year: $('#info_for_reading_birth_date_1i').val(),
          month: $('#info_for_reading_birth_date_2i').val(),
          day: $('#info_for_reading_birth_date_3i').val(),
          hour: $('#info_for_reading_birth_date_4i').val(),
          minute: $('#info_for_reading_birth_date_5i').val(),
          gender: $('#info_for_reading_gender').val(),
          personalized_question: $('#info_for_reading_personalized_question').val(),
          service_type: $('#info_for_reading_service_type').val()
        }
      }
    );
    $('#loading').html('loading...');
    $("#paypal_form").submit();
  }
  else {
    $('#loading').html("<div class='alert alert-danger' role='alert'>Name, email and gender are required</div>");
  }
});
</script>
