<center>
  <h2><%= ReadingServicesHelper.make_verbose(@package) %></h2>
</center>

<hr />

<%= form_for(@info_for_reading) do |f| %>
  <% if @info_for_reading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@info_for_reading.errors.count, "error") %> prohibited this info_for_reading from being saved:</h2>

      <ul>
      <% @info_for_reading.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name, class: "form-label" %>
  <select name="info_for_reading[prefix]" id="info_for_reading_prefix" class="prefix-field">
    <option value="">(prefix)</option>
    <option value="mr">Mr</option>
    <option value="ms">Ms</option>
    <option value="mrs">Mrs</option>
  </select>
  <%= f.text_field :name, placeholder: "", class: "field" %><br>
  <%= f.label :email, class: "form-label" %>
  <%= f.text_field :email, placeholder: "", class: "field" %><br>
  <%= f.label :gender, class: "form-label" %>
  <select name="info_for_reading[gender]" id="info_for_reading_gender" class="gender-field">
    <option value=""></option>
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>
  <div class="form-hr"></div>
  <h2>Please enter your approximate birth date and time:</h2>
  <%= f.datetime_select :birth_date, start_year: 1900, ampm: true %>
  <div class="form-hr"></div>

  <div class="field-wrapper">
    <% if @package == 1 %>
      <p>You can ask one question with the <i><%= ReadingServicesHelper.make_verbose(1) %></i>.<br>
      Upgrade to the <i><a href="/purchase_reading_service/<%= ReadingServicesHelper.urlify(2) %>">
      <%= ReadingServicesHelper.make_verbose(2) %></a></i>
      to ask 3, or ask 5 with the
      <i><a href="/purchase_reading_service/<%= ReadingServicesHelper.urlify(3) %>">
      <%= ReadingServicesHelper.make_verbose(3) %></a></i>.</p>
      <%= f.text_area :personalized_question_0, cols: 60, rows: 5, maxlength: 700, placeholder: "Personalized question (limit it to around 100 words)" %>
    <% elsif @package == 2 %>
      <p>You can ask three questions with the <i><%= ReadingServicesHelper.make_verbose(2) %></i>.
      To ask 5, upgrade to the <i><a href="/purchase_reading_service/<%= ReadingServicesHelper.urlify(3) %>">
      <%= ReadingServicesHelper.make_verbose(3) %></a></i>.</p>
      <%= f.text_area :personalized_question_0, cols: 60, rows: 5, maxlength: 700, placeholder: "Personalized question #1 (limit it to around 100 words)" %>
      <%= f.text_area :personalized_question_1, cols: 60, rows: 5, maxlength: 700, placeholder: "Personalized question #2 (limit it to around 100 words)" %>
      <%= f.text_area :personalized_question_2, cols: 60, rows: 5, maxlength: 700, placeholder: "Personalized question #3 (limit it to around 100 words)" %>
    <% elsif @package == 3 %>
      <p>You can ask 5 questions with the <i><%= ReadingServicesHelper.make_verbose(3) %></i>.</p>
      <%= f.text_area :personalized_question_0, cols: 60, rows: 5, maxlength: 700, placeholder: "Personalized question #1 (limit it to around 100 words)" %>
      <%= f.text_area :personalized_question_1, cols: 60, rows: 5, maxlength: 700, placeholder: "Personalized question #2 (limit it to around 100 words)" %>
      <%= f.text_area :personalized_question_2, cols: 60, rows: 5, maxlength: 700, placeholder: "Personalized question #3 (limit it to around 100 words)" %>
      <%= f.text_area :personalized_question_3, cols: 60, rows: 5, maxlength: 700, placeholder: "Personalized question #4 (limit it to around 100 words)" %>
      <%= f.text_area :personalized_question_4, cols: 60, rows: 5, maxlength: 700, placeholder: "Personalized question #5 (limit it to around 100 words)" %>
    <% end %>
  </div>
  <input type="hidden" name="info_for_reading[service_type]" id="info_for_reading_service_type" value="<%= @package %>">
<% end %>

<br />

<% if @package == 0 %>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" id="paypal_form">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="673JQL55CNLUN">
  </form>
<% elsif @package == 1 %>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" id="paypal_form">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="D6CBPZASUTTZ8">
  </form>
<% elsif @package == 2 %>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" id="paypal_form">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="C5AVQ4ZLMMLZG">
  </form><div class="form-hr"></div>
<% elsif @package == 3 %>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" id="paypal_form">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="PJYXAKNRJDJAQ">
  </form><div class="form-hr"></div>
<% end %>

<textarea rows="5" cols="60" readonly>
Revealing Fate does not guarantee the accuracy or reliability of any of the information, content, advice, or advertisements contained in, resulting from, or linked to this website, its affiliates, or its customers. It is hereby stated that you, the person accessing this website, acknowledge and agree that any reliance upon any of these materials shall be at your sole judgment and risk. 

Revealing Fate reserves the right, at its sole discretion and without any obligation, to make improvements to, or correct any error or omissions in any portion of the service, materials, advice, or products.

Any and all service, materials, advice, correspondence, writings, astrology reports, astrology software and products offered by Revealing Fate are provided for entertainment purposes only. There are no exceptions. Any free or paid service and the materials are provided by Revealing Fate on an “AS IS” basis. No warranties are made as to the correctness of the service, materials, advice, or products. Revealing Fate expressly disclaims any and all warranties, expressed or implied.

In no event shall Revealing Fate be liable for any direct, indirect, incidental, punitive or consequential damages of any kind whatsoever with respect to its service, software, reports, materials, advice, and products.

THE SERVICES CONSIST OF THE FOLLOWING, WITHOUT LIMITATION: ASTROLOGICAL CONTENT, WRITTEN REPORTS, EMAIL CONSULTATIONS, LIVE AND/OR RECORDED SKYPE CONSULTATIONS VIA VIDEO AND/OR TEXT CHAT. REVEALINGFATE.COM DOES NOT REFER, ENDORSE, RECOMMEND, VERIFY, EVALUATE OR GUARANTEE ANY ADVICE, INFORMATION OR OTHER SERVICES PROVIDED BY THE ADVISORS, NOR DOES IT WARRANT THE VALIDITY, ACCURACY, COMPLETENESS, SAFETY, LEGALITY, QUALITY, OR APPLICABILITY OF THE CONTENT, ANYTHING SAID OR WRITTEN BY, OR ANY ADVICE PROVIDED BY, THE ADVISORS.

WE MAY AMEND THESE TERMS OF SERVICE AT ANY TIME IN OUR DISCRETION. THESE CHANGES WILL BE EFFECTIVE IMMEDIATELY FOR NEW USERS OF THE SITE OR ASSOCIATED SERVICES. IF YOU DO NOT AGREE TO THE REVISED TERMS OF SERVICE, YOU MUST DISCONTINUE USING THE WEBSITE AND ASSOCIATED SERVICES. YOU AGREE THAT YOUR CONTINUED USE OF THE WEBSITE AFTER NOTICE OF SUCH AMENDMENT SHALL SIGNIFY YOUR ACCEPTANCE OF SUCH CHANGE. THE TERMS OF SERVICE MAY NOT BE OTHERWISE AMENDED EXCEPT BY A WRITING SIGNED BY BOTH YOU AND REVEALING FATE.
</textarea>

<br />

<label><input type="checkbox" id="terms"> I accept the <u>Terms and Conditions</u></label>

<br /><br />

<input type="text" id="promo_code" size="35" placeholder="enter promo code if you have one" class="promo-field">

<br /><br />

<div id='paypal_button_div'>
  <input id="paypal_button" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</div>

<script>
<% if @package == 0 %>
var package = 0;
<% elsif @package == 1 %>
var package = 1;
<% elsif @package == 2 %>
var package = 2;
<% elsif @package == 3 %>
var package = 3;
<% end %>

$("#paypal_button_div").hide();

$("#terms").click(function () {
  if ($("#terms").prop('checked')) {
    $("#paypal_button_div").show();
  }
  else {
    $("#paypal_button_div").hide();
  }
});

$("#paypal_button").click(function () {
  var prefix = $('#info_for_reading_prefix').val();
  var name = $('#info_for_reading_name').val();
  var email = $('#info_for_reading_email').val();
  var gender = $('#info_for_reading_gender').val();
  var title = $('#info_for_reading_title').val();

  if(prefix != "" && name != "" && email != "" && gender != "" && title != "") {
    $.post(
      "<%= info_for_readings_path %>",
      {
        info_for_reading: {
          name: $("#info_for_reading_name").val(),
          email: $('#info_for_reading_email').val(),
          date: $('#birth_date').val(),
          year: $('#info_for_reading_birth_date_1i').val(),
          month: $('#info_for_reading_birth_date_2i').val(),
          day: $('#info_for_reading_birth_date_3i').val(),
          hour: $('#info_for_reading_birth_date_4i').val(),
          minute: $('#info_for_reading_birth_date_5i').val(),
          gender: $('#info_for_reading_gender').val(),
          prefix: $('#info_for_reading_prefix').val(),
          personalized_question_0: $('#info_for_reading_personalized_question_0').val(),
          personalized_question_1: $('#info_for_reading_personalized_question_1').val(),
          personalized_question_2: $('#info_for_reading_personalized_question_2').val(),
          personalized_question_3: $('#info_for_reading_personalized_question_3').val(),
          personalized_question_4: $('#info_for_reading_personalized_question_4').val(),
          service_type: $('#info_for_reading_service_type').val()
        }
      }
    );
    $('#loading').html("<div class='alert alert-info' role='alert'>loading...</div>");

    var all_personalized_questions = "";
    if (package == 1) {
      all_personalized_questions += $('#info_for_reading_personalized_question_0').val();
    }
    if (package == 2) {
      all_personalized_questions += $('#info_for_reading_personalized_question_0').val();
      all_personalized_questions += $('#info_for_reading_personalized_question_1').val();
      all_personalized_questions += $('#info_for_reading_personalized_question_2').val();
    }
    if (package == 3) {
      all_personalized_questions += $('#info_for_reading_personalized_question_0').val();
      all_personalized_questions += $('#info_for_reading_personalized_question_1').val();
      all_personalized_questions += $('#info_for_reading_personalized_question_2').val();
      all_personalized_questions += $('#info_for_reading_personalized_question_3').val();
      all_personalized_questions += $('#info_for_reading_personalized_question_4').val();
    }

    if (package != 0 && all_personalized_questions.match(/^[ ]*$/)) {
      $('#missing_questions_popup').popup('show');
    }
    else {
      submitPaypalForm();
    }
  }
  else {
    $('#loading').html("<div class='alert alert-danger' role='alert'>Name, email, title and gender are required</div>");
  }
});

function submitPaypalForm() {
  if ($('#promo_code').val() == '') {
    $("#paypal_form").submit();
  }
  else {
    $.get("/code_to_paypal_url/" + $('#promo_code').val() + "/package/" + package).done(function (data) {
      if (data == 'not found') {
        $('#loading').html("<div class='alert alert-danger' role='alert'>promo code not valid</div>");
      }
      else {
        $('#loading').html("<div class='alert alert-info' role='alert'>loading...</div>");
        window.open(data, '_blank');
      }
    })
  }
}
</script>

<div id="missing_questions_popup" class="well" style="max-width:44em;">
  <div class="alert alert-info" role="alert">We noticed you haven't filled out any of the personalized questions</div>
  <p>Are you sure you don't want to ask any questions? This is included in the package you've selected</p>
  <button class="missing_questions_popup_close btn btn-info">Back to Order Screen</button>
  <button class="btn btn-success" onclick="submitPaypalForm()">Place Order Anyway</button>
</div>

<script>
  $(document).ready(function () {
    $('#missing_questions_popup').popup();
  });

  $('.missing_questions_popup_close').click(function () {
    $('#loading').html('');
  });
</script>
