<ul class="nav nav-pills nav-justified">
  <li role="presentation"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
</ul>

<h2>Readings</h2>

<% @info_for_readings.each do |info_for_reading| %>
  Prefix: <%= info_for_reading.prefix %><br />
  Name: <%= info_for_reading.name %><br />
  Type of reading: <%= ReadingServicesHelper.make_verbose(info_for_reading.service_type.to_i) %><br />
  Email: <%= info_for_reading.email %><br />
  Birth date: <%= info_for_reading.birth_date %><br />
  gender: <%= info_for_reading.gender %><br />
  date created: <%= info_for_reading.created_at %><br />
  personalized question 1: <%= info_for_reading.personalized_question_0 %><br />
  personalized question 2: <%= info_for_reading.personalized_question_1 %><br />
  personalized question 3: <%= info_for_reading.personalized_question_2 %><br />
  personalized question 4: <%= info_for_reading.personalized_question_3 %><br />
  personalized question 5: <%= info_for_reading.personalized_question_4 %><br />
  <hr />
<% end %>
