<p id="notice"><%= notice %></p>

<h1>Listing Info For Readings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Birth date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @info_for_readings.each do |info_for_reading| %>
      <tr>
        <td><%= info_for_reading.name %></td>
        <td><%= info_for_reading.email %></td>
        <td><%= info_for_reading.birth_date %></td>
        <td><%= link_to 'Show', info_for_reading %></td>
        <td><%= link_to 'Edit', edit_info_for_reading_path(info_for_reading) %></td>
        <td><%= link_to 'Destroy', info_for_reading, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Info for reading', new_info_for_reading_path %>
