<!DOCTYPE html>
<html>
<head>
  <title>RevealingFate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    body {
      background-image: url("<%= image_path('background.jpg') %>");
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  </style>
  <link href='https://fonts.googleapis.com/css?family=Economica|Cinzel' rel='stylesheet' type='text/css'>
<body>

<div class="container">

  <div class="jumbotron">
    <%= yield %>
  </div>
</div>

</body>
</html>
