<!DOCTYPE html>
<html>
<head>
  <title>Revealing Fate</title>

  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '230427257333558', {
  em: 'insert_email_variable,'
  });
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=230427257333558&ev=PageView&noscript=1"
  /></noscript>
  <!-- DO NOT MODIFY -->
  <!-- End Facebook Pixel Code -->

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if request.env['PATH_INFO'] == '/blog/fire_rooster' || request.env['PATH_INFO'] == '/fire_rooster_2017_blog' %>
    <meta name="description" content="We welcome the Chinese New Year of Fire Rooster with both hopefullness and caution--for good reason.">
  <% else %>
    <meta name="description" content="We're an ancient Chinese astrology reading service. Our specialty is a form called the Four Pillars of Destiny.">
  <% end %>
  <meta property="og:image" content="<%= image_url 'big_rooster.jpg' %>" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <%= favicon_link_tag 'yinyang.png' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

  <%= csrf_meta_tags %>
  <style type="text/css">
    body {
      background-image: url("<%= image_path('background.jpg') %>");
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  </style>
  <link href='https://fonts.googleapis.com/css?family=Economica|Cinzel|Philosopher|Lateef' rel='stylesheet' type='text/css'>
</head>

<% if browser.mobile? || browser.tablet?  %>
<body class="body-mobile">
<div class="container container-mobile">
<% else %>
<body>
<div class="container"> 
<% end %>
  <% if browser.mobile? || browser.tablet? %>
  <div id="navcontainer-mobile">
    <%= link_to (image_tag "yinyang.png", class:"nav-left"), root_path %>
    <%=image_tag "menu.png", id:"menu1", class:"nav-right"%>
    <%=image_tag "menu.png", id:"menu2", class:"nav-right"%><br>
    <div id="navlist-mobile">
      <a href="/about" class="nm-item" <%= raw('class="active"') if request.env['PATH_INFO'] == '/about' %>>About</a>
      <a href="/reading_services" class="nm-item" <%= raw('class="active"') if request.env['PATH_INFO'] == '/reading_services' %>>Reading Services</a>
      <a href="/blog" class="nm-item" <%= raw('class="active"') if request.env['PATH_INFO'] == '/blog' %>>Blog</a>
      <a href="/team" class="nm-item" <%= raw('class="active"') if request.env['PATH_INFO'] == '/team' %>>Our Team</a>
      <a href="/contact_us" class="nm-item" <%= raw('class="active"') if request.env['PATH_INFO'] == '/contact_us' %>>Contact Us</a>
    </div>
  </div>
  <div id="close-menu"></div>
  <% else %>
  <div id="navcontainer">
    <ul id="navlist">
      <li><a href="/" class="first-nav-element <%= raw('active') if request.env['PATH_INFO'] == '/' %>">Home</a></li>
      <li><a href="/about" <%= raw('class="active"') if request.env['PATH_INFO'] == '/about' %>>About</a></li>
      <li><a href="/reading_services" <%= raw('class="active"') if request.env['PATH_INFO'] == '/reading_services' %>>Reading Services</a></li>
      <li><a href="/blog" <%= raw('class="active"') if request.env['PATH_INFO'] == '/blog' %>>Blog</a></li>
      <li><a href="/team" <%= raw('class="active"') if request.env['PATH_INFO'] == '/team' %>>Our Team</a></li>
      <li><a href="/contact_us" <%= raw('class="active"') if request.env['PATH_INFO'] == '/contact_us' %>>Contact Us</a></li>
    </ul>
  </div>
  <% end %>

  <div class="jumbotron">
    <div id="loading"></div>
    <% if notice %>
      <div class="alert alert-warning" role="alert"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger" role="alert"><%= alert %></div>
    <% end %>

    <% if user_signed_in? %>
      <div class="alert alert-warning" role="alert">
        Since you're signed in, we have disabled google analytics tracking.
        If you want to view this site without this modal so you can view exactly
        what our users see, please visit the staging site.
      </div>
    <% end %>
    <%= yield %>
  </div>
</div>

<% if browser.mobile? || browser.tablet? %>
  <script type="text/javascript">
    var height = $(window).height() / 1.7;
    $("#menu1").click(function () {
      $("#menu1").hide();
      $("#menu2, #close-menu").show();
      $("#navcontainer-mobile").animate({
        height: "350px"
      }, 400, function() {
      });
    });
    $("#close-menu, #menu2").click(function () {
      $("#close-menu, #menu2").hide();
      $("#menu1").show();
      $("#navcontainer-mobile").animate({
        height: "55px"
      }, 300, function() {
      });
    });
  </script>
<% end %>

<% if !user_signed_in? && Rails.env.production? %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-69211595-1', 'auto');
    ga('send', 'pageview');

  </script>
<% end %>

</body>
</html>
